<%- include('../../fragments/header.ejs') %>
<main>
<h2><%= pageTitle %></h2>

  <form class="form"  action="<%=formAction%>"novalidate onsubmit="return validateForm()" method="post">

      <input type="hidden" name="_id" value="<%= acc._id %>">

      <label for="username">Username: <span class="symbol-required">*</span></label>
      <input class="<%= validationErrors.find(e => e.path.includes('username')) ? 'error-input' : '' %>"
             type="text" name="username" id="username" placeholder="2-60 characters" value="<%= acc.username %>"
             <%= (formMode === 'showDetails') ? 'disabled' : '' %> required/>
      <span id="errorUsername" class="errors-text">
          <% if(validationErrors.find(e => e.path.includes('username'))){ %>
              <%= validationErrors.find(e => e.path.includes('username')).message %>
          <% } %>
      </span>

      <label for="name">Name: <span class="symbol-required">*</span></label>
      <input class="<%= validationErrors.find(e => e.path.includes('name')) ? 'error-input' : '' %>"
             type="text" name="name" id="name" placeholder="8-14 characters" value="<%= acc.name %>"
            <%= (formMode === 'showDetails') ? 'disabled' : '' %> required/>
      <span id="errorName" class="errors-text">
          <% if(validationErrors.find(e => e.path.includes('name'))){ %>
              <%= validationErrors.find(e => e.path.includes('name')).message %>
          <% } %>
      </span>

      <label for="surname">Surname: <span class="symbol-required">*</span></label>
      <input class="<%= validationErrors.find(e => e.path.includes('surname')) ? 'error-input' : '' %>"
             type="text" name="surname" id="surname" placeholder="2-60 characters" value="<%= acc.surname %>"
            <%= (formMode === 'showDetails') ? 'disabled' : '' %> required/>
      <span id="errorSurname" class="errors-text">
          <% if(validationErrors.find(e => e.path.includes('surname'))){ %>
              <%= validationErrors.find(e => e.path.includes('surname')).message %>
          <% } %></span>

      <label for="gender">Gender: <span class="symbol-required">*</span></label>
      <input class="<%= validationErrors.find(e => e.path.includes('gender')) ? 'error-input' : '' %>"
             type="text" name="gender" id="gender" placeholder="2-60 characters" value="<%= acc.gender%>"
            <%= (formMode === 'showDetails') ? 'disabled' : '' %> required/>
      <span id="errorGender" class="errors-text">
          <% if(validationErrors.find(e => e.path.includes('gender'))){ %>
              <%= validationErrors.find(e => e.path.includes('gender')).message %>
          <% } %>
      </span>



      <label for="password">Password: <span class="symbol-required">*</span></label>
      <input class="<%= validationErrors.find(e => e.path.includes('password')) ? 'error-input' : '' %>"
             type="text" name="password" id="password" placeholder="2-10 characters" value="<%= acc.password %>"
            <%= (formMode === 'showDetails') ? 'disabled' : '' %> required/>
      <span id="errorPassword" class="errors-text">
          <% if(validationErrors.find(e => e.path.includes('password'))){ %>
              <%= validationErrors.find(e => e.path.includes('password')).message %>
          <% } %>
      </span>

      <label for="email">E-mail: <span class="symbol-required">*</span></label>
      <input class="<%= validationErrors.find(e => e.path.includes('email')) ? 'error-input' : '' %>"
             type="email" name="email" id="email" placeholder="ex. name@domain.com" value="<%= acc.email%>"
            <%= (formMode === 'showDetails') ? 'disabled' : ''%> required/>
      <span id="errorEmail" class="errors-text">
          <% if(validationErrors.find(e => e.path.includes('email'))){ %>
              <%= validationErrors.find(e => e.path.includes('email')).message %>
          <% } %>
      </span>

      <label for="creationDate">Date Created: <span class="symbol-required">*</span></label>
      <input class="<%= validationErrors.find(e => e.path.includes('creationDate')) ? 'error-input' : '' %>"
             type="date" name="creationDate" id="creationDate" value="<%= acc.creationDate ? new Date(acc.creationDate).toISOString().split('T')[0] : new Date().toISOString().split('T')[0] %>"
              <%= (formMode === 'showDetails') ? 'disabled' : ''%> required/>
      <span id="errorCreationDate" class="errors-text">
          <% if(validationErrors.find(e => e.path.includes('creationDate'))){ %>
              <%= validationErrors.find(e => e.path.includes('creationDate')).message %>
          <% } %>
      </span>

      <% if (formMode !== 'showDetails') { %>
          <div class="form-buttons">
          </div>
      <% } %>

      <% if (formMode === 'showDetails') { %>
          <div class="form-buttons">
              <a href="/accounts/edit/<%= acc._id %> " class="button-edit">Edit</a>
          </div>
      <% } %>
      <div class="form-buttons">
          <span class="errors-text" id="errorsSummary"></span>
          <% if (formMode !== 'showDetails') { %>
              <input class="form-button-submit" type="submit" value="<%= btnLabel %>"/>
              <a class="form-button-cancel" href="/accounts">Cancel</a>
          <% } else { %>
              <a class="form-button-cancel" href="/accounts">Return</a>
          <% } %>
      </div>
  </form>
    <% if (formMode === 'showDetails' || formMode === 'edit') { %>


        <h2>Recruitments</h2>

        <table class="table-list">
            <thead>
            <tr>
                <th>Company Name</th>
                <th>Status</th>
                <th>Date Opened</th>
                <th>Notes</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <% for (let recruitment of acc.recruitments) { %>
                <tr>
                    <td><%= recruitment.jobOffer.companyName%></td>
                    <td><%= recruitment.status %> </td>
                    <td><%= recruitment.dateOpened.toISOString().split('T')[0] %></td>
                    <td><%= recruitment.notes %></td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a href="/recruitments/details/<%= recruitment._id %>"
                                   class="list-actions-button-details">Details</a>
                            </li>
                            <li>
                                <a href="/recruitments/delete/<%= recruitment._id %>" class="list-actions-button-delete"
                                   onclick="return confirm('Are you sure?')">Delete</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
    <% } %>

</main>
<%- include('../../fragments/footer.ejs') %>