<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Accounts</h2>
    <table class="table-list">

        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Gender</th>
            <th>E-mail</th>
            <th>Creation Date</th>
            <th>Options</th>
        </tr>


        <tbody>
        <% for (let acc of accs) { %>
            <tr>
                <td><%= acc.username %></td>
                <td><%= acc.name %></td>
                <td><%= acc.surname %></td>
                <td><%= acc.gender %></td>
                <td><%= acc.email %></td>
                <td><%= acc.creationDate.toISOString().split('T') [0] %></td>
                <td>
                    <ul class="list-actions">
                        <li>
                            <a href="/accounts/details/<%= acc._id%>" class="list-actions-button-details">Details</a>
                        </li>
                        <li>
                            <a href="/accounts/edit/<%= acc._id%>" class="list-actions-button-edit">Edit</a>
                        </li>
                        <li>
                            <a href="/accounts/delete/<%= acc._id%>" class="list-actions-button-delete">Delete</a>
                        </li>
                    </ul>
                </td>
            </tr>
        <% }%>

        </tbody>
    </table>

    <p>
        <a href="/accounts/add" class="button-add">Add new account</a>
    </p>
</main>
<%- include('../../fragments/footer.ejs') %>