

<%- include('../../fragments/header.ejs') %>
<main>
    <script type="application/javascript" src="/js/validationCommon.js"></script>
    <script type="application/javascript" src="/js/validationRecruitmentForm.js"></script>
    <h2><%= pageTitle %></h2>
    <form class="form" method="post" action="<%= formAction%>" novalidate onsubmit="return validateForm();">

        <input type="hidden" name="_id" value="<%= rec._id %>"/>

        <label for="acc_id">Account: <span class="symbol-required">*</span></label>
        <select class="<%= validationErrors.find(e => e.path.includes('acc_id')) ? 'error-input' : '' %>"
                name="acc_id" id="acc_id" required
                <%= (formMode === 'showDetails') ? 'disabled' : '' %>>
            <% if (formMode !== 'edit' ){ %>
                <option value="" selected="selected">--select account--</option>
            <% } %>
            <% for (let i = 0; i < allAccs.length; i++) { let acc = allAccs[i]; %>
            <option value="<%= acc._id %>" label="<%= acc.username%>"
            <%= (acc._id == rec.acc_id) ? 'selected' : '' %>>
            </option>
            <% } %>
        </select>
        <span id="errorAccId" class="errors-text">
            <% if(validationErrors.find(e => e.path.includes('acc_id'))){ %>
                <%= validationErrors.find(e => e.path.includes('acc_id')).message %>
            <% } %>
        </span>

        <label for="job_id">Job offer: <span class="symbol-required">*</span></label>
        <select class="<%= validationErrors.find(e => e.path.includes('job_id')) ? 'error-input' : '' %>"
                name="job_id" id="job_id" required
                <%= (formMode === 'showDetails') ? 'disabled' : '' %>>
            <% if (formMode !== 'edit' ){ %>
                <option value="" selected="selected">--select job offer--</option>
            <% } %>
            <% for (let i = 0; i < allJobs.length; i++) { let job = allJobs[i]; %>
            <option value="<%= job._id %>" label="<%= job.companyName + ' (' + job.position + ')'%>"
                <%= (job._id == rec.job_id) ? 'selected' : '' %>>
            </option>
            <% } %>
        </select>
        <span id="errorJobId" class="errors-text">
            <% if(validationErrors.find(e => e.path.includes('job_id'))){ %>
                <%= validationErrors.find(e => e.path.includes('job_id')).message %>
            <% } %>
        </span>

        <label for="status">Status:</label>
        <input class="<%= validationErrors.find(e => e.path.includes('status')) ? 'error-input' : '' %>"
               type="text" name="status" id="status" value="<%= rec.status %>"
                <%= (formMode === 'showDetails') ? 'disabled' : ''%>/>
        <span id="errorStatus" class="errors-text">
            <% if(validationErrors.find(e => e.path.includes('status'))){ %>
                <%= validationErrors.find(e => e.path.includes('status')).message %>
            <% } %>
        </span>

        <label for="dateOpened">Date Opened: <span class="symbol-required">*</span></label>
        <input class="<%= validationErrors.find(e => e.path.includes('dateOpened')) ? 'error-input' : '' %>"
               type="date" name="dateOpened" id="dateOpened" value="<%= rec.dateOpened ? new Date(rec.dateOpened).toISOString().split('T')[0] : new Date().toISOString().split('T')[0] %>"
                <%= (formMode === 'showDetails') ? 'disabled' : ''%>/>
        <span id="errorDateOpened" class="errors-text">
            <% if(validationErrors.find(e => e.path.includes('dateOpened'))){ %>
                <%= validationErrors.find(e => e.path.includes('dateOpened')).message %>
            <% } %>
        </span>

        <label for="notes">Notes:</label>
        <textarea class="<%= validationErrors.find(e => e.path.includes('notes')) ? 'error-input' : '' %>"
                  id="notes" name="notes" rows="5" cols="40" <%= (formMode === 'showDetails') ? 'disabled' : '' %>><%= rec.notes%></textarea>
        <span id="errorNotes" class="errors-text">
            <% if(validationErrors.find(e => e.path.includes('notes'))){ %>
                <%= validationErrors.find(e => e.path.includes('notes')).message %>
            <% } %>
        </span>

        <% if (formMode !== 'showDetails') { %>
            <div class="form-buttons">
            </div>
        <% } %>

        <% if (formMode === 'showDetails') { %>
            <div class="form-buttons">
                <a href="/recruitments/edit/<%= rec._id %> " class="button-edit">Edit</a>
            </div>
        <% } %>
        <div class="form-buttons">
            <span class="errors-text" id="errorsSummary"></span>
            <% if (formMode !== 'showDetails') { %>
                <input class="form-button-submit" type="submit" value="<%= btnLabel %>"/>
                <a class="form-button-cancel" href="/recruitments">Cancel</a>
            <% } else { %>
                <a class="form-button-cancel" href="/recruitments">Return</a>
            <% } %>
        </div>
    </form>

    <% if (formMode === 'showDetails' || formMode === 'edit') { %>


        <h2>Account</h2>

        <table class="table-list">
            <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><%= rec.account.username %></td>
                <td><%= rec.account.name %></td>
                <td><%= rec.account.surname %></td>
                <td><%= rec.account.email %></td>
                <td>
                    <ul class="list-actions">
                        <li>
                            <a href="/accounts/details/<%= rec.account._id %>"
                               class="list-actions-button-details">Details</a>
                        </li>
                        <li>
                            <a href="/accounts/delete/<%= rec.account._id %>" class="list-actions-button-delete"
                               onclick="return confirm('Are you sure?')">Delete</a>
                        </li>
                    </ul>
                </td>
            </tr>


            </tbody>
        </table>
        <h2>Job Offer</h2>

        <table class="table-list">
            <thead>
            <tr>
                <th>Company Name</th>
                <th>Position</th>
                <th>Location</th>
                <th>Min Salary</th>
                <th>Max Salary</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><%= rec.jobOffer.companyName %></td>
                <td><%= rec.jobOffer.position %></td>
                <td><%= rec.jobOffer.location %></td>
                <td><%= rec.jobOffer.minSalary %></td>
                <td><%= rec.jobOffer.maxSalary %></td>
                <td>
                    <ul class="list-actions">
                        <li>
                            <a href="/job-offers/details/<%= rec.jobOffer._id %>"
                               class="list-actions-button-details">Details</a>
                        </li>
                        <li>
                            <a href="/job-offers/delete/<%= rec.jobOffer._id %>" class="list-actions-button-delete"
                               onclick="return confirm('Are you sure?')">Delete</a>
                        </li>
                    </ul>
                </td>
            </tr>


            </tbody>
        </table>
    <% } %>
</main>
<%- include('../../fragments/footer.ejs') %>